openapi: 3.0.3
info:
  title: Novias del Gato API - Explorer (Public)
  description: |
    Public, read-only API contract for tourists and citizens exploring Cali's public cat sculptures.
    Does not require authentication.
  version: 1.0.0
servers:
  - url: https://api.gatos.cali.gov.co/v1
    description: Production Server
paths:
  /sculptures:
    get:
      summary: List All Cat Sculptures
      description: Returns list of all sculptures with names, locations, and current status (Single Source of Truth).
      operationId: listSculptures
      responses:
        '200':
          description: List of sculptures
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sculpture'

  /sculptures/{id}:
    get:
      summary: Get Sculpture Details
      description: Detailed information about a sculpture, historical context, artist, and unlockable audio guides.
      operationId: getSculptureById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detailed sculpture object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SculptureDetails'
        '404':
          description: Sculpture not found.

components:
  schemas:
    Sculpture:
      type: object
      required:
        - id
        - name
        - artist
        - year
        - latitude
        - longitude
        - status
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: La Novia Dulce
        artist:
          type: string
          example: Lorena Espitia
        year:
          type: integer
          example: 2006
        latitude:
          type: number
          format: float
          example: 3.450143
        longitude:
          type: number
          format: float
          example: -76.533282
        status:
          type: string
          enum: [on-site, moved, missing]
          description: Operational status of the sculpture.
          example: on-site

    SculptureDetails:
      allOf:
        - $ref: '#/components/schemas/Sculpture'
        - type: object
          properties:
            description:
              type: string
              example: Decorated with sweets and candies representing Cali's culinary traditions.
            audio_url:
              type: string
              format: uri
              example: https://cdn.gatos.cali.gov.co/audio/novia_dulce.mp3
            unlocked_content:
              type: string
              description: Extended history/curation (hidden until captured).
              example: This sculpture was crafted in tribute to the traditional festival of Macetas.
